<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/bootstrap-table/bootstrap-table.css">
		<link rel="stylesheet" href="/static/css/generalstyle.css">
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/bootstrap-table/bootstrap-table.js"></script>
		
		<title>The Best Movie DataBase</title>
	</head>
	<body class="bkg_img">
		<div class="container">
			<div class="well">
				<div class="text-center">
				<h1>Welcome to the best movie database</h1>
				</div>
				<form action="../search_movie/" method="POST"> {% csrf_token %}
					<div class="form-group">
						<label for="listsel">Select type of search:</label>
						<select class="form-control" id="listsel" name="listsel">
						  <option>Actor</option>
						  <option>Music</option>
						</select>
					</div>
					<label for="query">Enter to search:</label>
					<input type="text" name="query" value="" id="query"/>
					<input class="btn btn-info btn-md" type="submit" value="Search"/>
				</form>
			</div>
		</div>
	</body>
</html>