<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/static/css/bootstrap.min.css">
		<link rel="stylesheet" href="/static/bootstrap-table/bootstrap-table.css">
		<link rel="stylesheet" href="/static/css/generalstyle.css">
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/bootstrap-table/bootstrap-table.js"></script>		
		<title>The Best Movie DataBase</title>
	</head>
	<body class="bkg_img">
		<div class="container">
			<div class="well">
				<div class="text-center">
				<h1>The Best Movie DataBase</h1>
				</div>
				<table data-toggle="table">			
					<thead>
						<tr>
							<th data-visible="false">Movie Object</th>
							<th>ID</th>
							<th>Title</th>
							<th>Release Date</th>
							<th>Overview</th>
							<th>Vote Count</th>
							<th>Vote Average</th>
							<th>Popularity</th>
						</tr>
					</thead>
					<tbody>
						{% for movie in movies %}
							{% for item in movie.results %}
								<tr>
									<td data-visible="false">{{item}}</td>
									<td>{{item.id}}</td>
									<td>{{item.title}}</td>
									<td>{{item.release_date}}</td>
									<td>{{item.overview}}</td>
									<td>{{item.vote_count}}</td>
									<td>{{item.vote_average}}</td>
									<td>{{item.popularity}}</td>
								</tr>
							{% endfor %}
						{% endfor%}
					</tbody>
				</table>
				<p><a class="btn btn-info btn-md" href="../inicio/">Back</a></p>
			</div>
		</div>
	</body>
</html>